Package: getmyparking
Version: 0.0.1
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer
Maintainer: GMP <rahul@getmyparking.com>
Description: GMP Backend
Distribution: production
