<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/get_my_parking</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.getMyParking.entity.Company"/>
      <mapping class="com.getMyParking.entity.Parking"/>
      <mapping class="com.getMyParking.entity.ParkingEvent"/>
      <mapping class="com.getMyParking.entity.ParkingLot"/>
      <mapping class="com.getMyParking.entity.ParkingLotHasUserB2B"/>
      <mapping class="com.getMyParking.entity.ParkingPass"/>
      <mapping class="com.getMyParking.entity.ParkingPassMaster"/>
      <mapping class="com.getMyParking.entity.PriceGrid"/>
      <mapping class="com.getMyParking.entity.PricingSlot"/>
      <mapping class="com.getMyParking.entity.ReceiptContent"/>
      <mapping class="com.getMyParking.entity.Session"/>
      <mapping class="com.getMyParking.entity.UserB2B"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>